/*navbar css*/

nav{
	font-family: 'Luckiest Guy', cursive;
	background-color: orange;
	font-color: white;
	}
a.nav{
	color: white;
	margin-left: 20px;
	font-size: 20px;
}
a.dd{
	background-color: orange;
	color: white;
}
a.dd:active{
	background-color: orange;
}
div.dd{
	background-color: orange;
	opacity: .6;
}


span.lola {
	font-family: 'Luckiest Guy', cursive;
	font-size: 40px;
	color: white;
}
span.luto{
	font-family: 'Luckiest Guy', cursive;
	font-size: 25px;
	color: white;
}
.navspan{
	font-size: 40px;
	font-color: white;
	color: white;
}

/*disclaimer css*/
body.disclaimer{
	background:linear-gradient(
		rgba(0, 0, 0, 0.6), 
		rgba(0, 0, 0, 0.6)
		),
	url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/23/17/romulo-cafe-food.jpg?w968h681");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	
}

div.dis-col{
	margin-top: 10vh;
}

h1.dis{

	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: white;
	opacity: .7;
}
p.dis{
	font-size: 25px;
	color: white;
	text-decoration: bold;
}
h2.dis{
	font-size: 40px;
	color: white;
}

/*footer css*/
footer{
		
	height: 10vh;
	background:orange;
}
p.fp{
	display: inline-block;
	font-size: 20px;
	font-family: 'Luckiest Guy', cursive;
}
a.fp{
	font-size: 20px;
	font-family: 'Luckiest Guy', cursive;
}
a.fb{
	float:left;
	margin-left: 30px;
	color: white;
	font-size: 20px;
	padding-bottom: 10px;
}
a.gm{
	float:left;
	margin-left: 10px;
	color: white;
	font-size: 20px;
	padding-bottom: 10px;
}


/*main page css*/
body.main{
	background:linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		),
	url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/23/17/romulo-cafe-food.jpg?w968h681");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh; 
	background-attachment: fixed; 
	background-color: red; 	
}

.main-col{
	width: 100vw;
	height: 90vh;
}
h1.main-h1{
	margin-top: 30vh;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: white;
	opacity: .7;		
}
h2.main-h2{
	font-family: 'Pacifico', cursive;
	font-size: 70px;
	color: white;
	opacity: .7;		
}



/*whats css*/
body.whats{
	background:linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		),
	url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/23/17/romulo-cafe-food.jpg?w968h681");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
	background-attachment: fixed;
	/*background-color: red;*/

}


div.whats-title{
	margin-top: 25vh;
}
div.whats-menu{
	margin-top: 15vh;
}

h1.whats-h1{
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: white;
	opacity: .7;
}
span.download{
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	
}
span.d-link{
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	color: orange;
}
/*whats cooking css for menu gallery*/

img.img {
  vertical-align: middle;
  width: 100%;
  height: 40vh;
  /*border: 1px solid black;*/
}

/* Hide the images by default */
.mySlides {
  display: none;

}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}
div.menu-cursor-container{
	/*border: black solid 1px;*/
}
#caption{
	font-family: 'div.menu-cursor-containerLuckiest Guy', cursive;
	font-size: 30px;
	margin-top: 10px;
	font-family: 'Pacifico', cursive;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.menu-cursor {
  opacity: 0.5;
  width: 100%;
  height:12vh;
}

.active,
.menu-cursor:hover {
  opacity: 1.5;

}


/*About us CSS*/
body.about{
	
	background:linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		),
	url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/23/17/romulo-cafe-food.jpg?w968h681");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
.row-about-upper{
	height: 40vh;		
}
.row-about-mid{
	height: 50vh;

}

h1.about-h1{
	margin-top: 20vh;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: white;
	opacity: .7;	
}

h2.about-h2{
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	color: white;
	opacity: .7;	
}
p.history, p.inspire{
	color: white;
	font-size: 18px;
}
h3.contact{
	font-family: 'Pacifico', cursive;
	font-size: 37px;
	color: white;
	opacity: .7;
}

h4.contact{
	font-size: 28px;
	font-family: 'Pacifico', cursive;
	color: red;
}




/*contact us CSS*/

body.contact{
	background:linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		),
	url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/23/17/romulo-cafe-food.jpg?w968h681");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}

h1.contact-h1{
	
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: white;
	opacity: .7;
} 
button.submit{
	background-color: orange;
}
p.contact{
	font-size: 32px;
	font-family: 'Pacifico', cursive;
	color: white;
}
div.contact-col-upper{
	margin-top: 20vh;
}
form{
	opacity: .7;
	color: white;
	font-family: 'Pacifico', cursive;

}
input{
	border: 2px solid white;
}
h3{
	font-family: 'Pacifico', cursive;
	font-size: 37px;
	color: white;
	opacity: .7;
}

h4,h4.contact{
	font-size: 28px;
	font-family: 'Pacifico', cursive;
	color: orange;
}
p.about, a.contact-email{
	font-size: 20px;
	font-family: 'Pacifico', cursive;
	color: white;
}
hr{
	background-color: orange;
	border-radius: 3px;
}



/*loc css*/
body.loc-pasig{
	background:linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		),
	url("https://static.livebooks.com/b65a2556c0334ff09e0252c074b5cae5/i/bdeced9180cf40739ed846cc8604b6a0/1/4SoifmQp7LJ6yDtMuFY2x/Main-Dinning-Area_8BitLowRes.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh; 
	background-attachment: fixed; 	
}
body.loc-makati{
	background:linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		),
	url("https://thesmithrestaurant.com/wp-content/uploads/2017/03/TheSmithDC_Interior_028.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh; 
	background-attachment: fixed; 	
}


div.loc-col-top{	
	margin-top: 20vh;
}
div.loc-col-mid{
	margin-top: 10vh;
}
h1.loc-h1{
	
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: white;
	opacity: .7;

}

h4.loc{

	font-size: 20px;
	font-family: 'Pacifico', cursive;
	color: orange;
	
}
h5.loc{
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: orange;

}
time{
	font-size: 30px;
	font-family: 'Pacifico', cursive;
	color: white;
}
p.loc{
	margin-top: 5vh;
	font-size: 20px;
	font-family: 'Pacifico', cursive;
	color: white;
}
hr.loc{
	width: 200px;
	border: 2px white solid;
}


/*landing page media query*/
/*done*/
@media only screen and (max-width: 600px){

	h1.main-h1{
		font-size: 70px;
	}
	h2.main-h2{
		font-size: 40px;
	}
}


/*about us media*/
/*done*/
@media only screen and (max-width: 600px){

	h1.about-h1{
		font-size: 70px;
	}
	h2.about-h2{
		font-size: 30px;
		opacity: .7;	
	}
	.col-md-6-about{
		height: 80vh;
	}

}

@media only screen and (max-width: 320px){

	h1.about-h1{
		font-size: 50px;
	}
	h2.about-h1{
		margin-top: 100vh;
		font-size: 25px;
		opacity: .7;	
	}
	.col-md-6-about{
		height: 100vh;
	}
	.row-about-upper{
	margin-top: 10vh;		
	}

}



/*contact us media querry*/
/*done*/

@media only screen and (min-width: 601px){
		div.contact-email a {
    	width: 150px;
   		 display: block;
   	 	white-space: nowrap;
    	text-overflow: ellipsis;
    	overflow: hidden;
		}
		h1.contact-h1{
			font-size: 90px;	
		} 
		p.contact{
			font-size: 30px;
			margin-top: 5vh;
		}
		div.invisible{
			order: 3;
		}
		div.contact-col-upper{
			margin-top: 30vh;
		}


}


@media only screen and (max-width: 600px){
	h1.contact-h1{
	font-size: 70px;	
	} 
	p.contact{
	font-size: 30px;
	margin-top: 10vh;
	} 
	.contact-col{
		height: 70vh;
	}
	div.contact-col-upper{ 
	margin-top: 20vh;
}
	
}
@media only screen and (max-width: 320px){
	h1.contact-h1{
	font-size: 60px;	
	margin-bottom: 5vh;
	} 
	p.contact{
	font-size: 20px;	
	} 
	.contact-col{
		height: 30vh;
	}
	div.form{
		margin-bottom: 20vh;
	}
	div.contact-email{
		margin-bottom: 30vh;
		height: 50vh;
	}
	div.contact-col-upper{
	margin-top: 40vh;
	}
	a.contact-email{
		font-size: 15px;
	}

	
}


/*location media query*/
/*done*/
@media only screen and (max-width: 600px){
	h1.loc-h1{
		margin-top: 15vh;
		font-size: 70px;
	}
	h5.loc2{
		margin-bottom: 20vh;
	}
}

/*whats cooking media query*/
@media only screen and (max-width: 768px){
	h1.whats-h1{
		font-size: 70px;
	}
	img.img{
		height: 30vh;
	}
	div.whats-menu{
	margin-top: 25vh;
	}
	.menu-cursor {
 	 opacity: 0.5;
  	width: 100%;
  	height:8vh;
	}
	#caption{
		font-size: 20px;
	}


}

@media only screen and (max-width:320px){

	.whats-col{
		height: 70vh;
	}
	#caption{
		font-size: 20px;
	}
}
/*disclaimer media*/
@media only screen and (max-width: 360px){


	div.dis-col{
		margin-top: 30vh;

	}

	h1.dis{

		font-family: 'Pacifico', cursive;
		font-size: 50px;
		color: red;
		opacity: .7;
	}
	p.dis{
		font-size: 18px;
	}
	h2.dis{
		font-size: 20px;
	}

}

@media only screen and (max-width: 320px){


	div.dis-col{
		margin-top: 30vh;
		height: 80vh;

	}

	h1.dis{

		font-family: 'Pacifico', cursive;
		font-size: 50px;
		color: red;
		opacity: .7;
	}
	p.dis{
		font-size: 18px;
	}
	h2.dis{
		font-size: 20px;
	}

}





